                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === === === === startMedia === === === === === === === === === === === ==*/

                /*=== === === === === === === === === === startRules === === === === === === === === === === === ==*/


                /*=== === === === === === === === === === endRules === === === === === === === === === === === === */

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === --XXS Portrait phones and smaller === === === === === === === === ===*/

@media (max-width: 479px){
    .container{
        width: calc(var(--xxs)*12);
    }
    
}

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === --XS Landscape phones and portrait tablets === === === === === === ==*/

@media (min-width: 480px) and (max-width: 570px){
    .container{
        width: calc(var(--xs)*12);
    }
    
}

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === --S Portrait tablets and small desktops === === === === === === === =*/

@media (min-width: 768px) and (max-width: 991px) {
    .container{
        width: calc(var(--s)*12);
    }

}

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === --M Landscape tablets and medium desktops === === === === === === == */

@media (min-width: 992px) and (max-width: 1199px) {
    .container{
        width: calc(var(--m)*12);
    }

}

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === --L Large desktops and laptops === === === === === === === === === ==*/

@media (min-width: 1200px) {
    .container{
        width: calc(var(--l)*12);
    }
}

                /*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/

                /*=== === === === === === === === === === endMedia === === === === === === === === === === === ==*/